.hero {
  background: url("images/vll.jpg");
  background-size: cover;
  box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.15);
  height: 80%;
}

.intro-text {
	padding-top: 40%;
	color: rgba(255, 255, 255, 1);
	text-align: center;
}

@media only screen and (min-width: 40.063em) {
	.intro-text{
		padding-top: 25%;
	}
}

@media only screen and (min-width: 64.063em) {
	.intro-text{
		padding-top: 18%;
	}
}

.intro-text p {
	font-family: 'Shadows Into Light', cursive;
	font-size: 44px;
}

.about, .work, .contact {
    padding: 50px 0 0 0;
}

.about img {
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    opacity: 0.8;
}

.work-experience {
    padding-bottom: 10px;
}